.card {
    margin: auto;
    text-align: center;
    max-width: 300px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.card img {
    border-radius: 30px;
    border:1px solid #000;
}

.subtitle {
    color: black;
    font-size: 20px;
}

button {
    border-radius: 30px;
    outline: 23;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #000;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
button:hover{
    opacity: 0.8;
}

a {
    font-size: 35px;
    color: black ;
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}